*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.sign {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  max-width: 100%;
}

.idea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo {
  font-weight: bolder;
  font-size: 2rem;
  color: white;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
 
}
.ul li{
  padding: 7px;

}



.container {
    display: inline-block;
    position: relative;
}

.container .text {
    /* background: rgba(0, 0, 0, 0.8); */
    z-index: 1;
    position: absolute;
    /* text-align: ; */
    font-size: 35px;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

.nav .sign{
  text-decoration: none;
  position: fixed;
}

img{
    
    width: 1520px;
    position: relative;
}


.btn{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: purple;
    background-image: linear-gradient(to top left,)
    
}

.btn1{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: goldenrod;
    background-image: linear-gradient(to top left,)
}


.text1{
    font-size: 35px;
     text-align: center;
     padding: 25px 25px;
     left: 1000%;
     padding: 50px 0px;
     background-color: rgb(248, 238, 142);
     color: white;
     
}


.paratext{
    font-family: serif;
    font-size: 25px;
    text-align: left;
    margin-left: 150px;
    display: inline-block;


}
img, svg {
  vertical-align: middle;
}



.flex2{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.img1{
    width: 75px;
    opacity: .7;
    border-radius: 10px;
    border: 15px;

    
}

.flex3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.flex4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}



.flex5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
   
}
.flex5  .p1 p{
    padding: 4px 4px;
    
}


.flex6{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 10px;
    margin: 20px 20px;

}

 .btn2{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align:center;
    /* border-radius: 10px;  */
    background-color: purple;
}

.btn3{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align:center;
    /* border-radius: 10px;  */
    background-color:goldenrod;

}

.flex7{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 5  0px 10px;
    margin: 20px 20px;
   
}


.btn4{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align:center;
    /* border-radius: 10px;  */
    background-color:white;

}

.pic{
    width: 24%;
    /* height: 475x; */
    margin: 0px;
    padding: 0px;

}

.plan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* text-align: end; */
}



.sec7 {
    min-width: 70%;
    margin: 100px auto;
  }
  .imgshow,
  .imgsel {
    width: 60%;
    margin: auto;
  }
  .imgshow img {
    width: 100%;
    height: 400px;
    object-fit: fill;
  }
  .imgss:hover {
    height: 110px;
    width: 17.5%;
  }
  .imgss {
    margin: 10px;
    width: 17%;
    height: 100px;
    object-fit: fill;
  }



  .cont3 {
    width: 70%;
    margin: auto;
    flex-direction: column;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }
  .image {
    width: 100%;
    justify-content: space-evenly;
    /* display: flex; */
    flex-direction: row;
  }
  
  .rep {
    width: 140px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }


  .sec8 {
    display: flex;
    max-width: 100%;
    /* height: 400px; */
  }

  .class2 {
    height: 400px;
    background-image: url(https://images.pexels.com/photos/21786/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
  }

  #head h1 {
    font-size: 2.6rem;
    text-align: center;
    color: white;
  }

  #Header h5 {
    font-size: 2.2rem;
    text-align: center;
    color: black;
  }
  h2 {
    color: rgba(165, 70, 70, 0.39);
  }
  #login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #login input {
    padding: 10px;
    font-size: 1.2rem;
    min-width: 40%;
  }
  
  .btn8 {
    padding: 10px;
  
    color: black;
    background-color: yellow;
    font-size: 1.2rem;
  }
  .btn8:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(59, 16, 59);
  }
  .iccon {
    padding: 17px 0px;
    text-align: center;
    width: 300px;
    margin: 18px 20px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    flex-wrap: wrap;
  }
  .iccon h1 {
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(59, 16, 59);
    font-weight: bold;
  }
  .iccon img {
    height: 130px;
    width: 225px;
  }
  
  .iccon p {
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: black;
  }
  .button11 {
    border: 2px solid black;
    color: black;
    background-color: yellow;
    padding: 7px 10px;
    font-size: 1rem;
  }
  
  .button11:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(59, 16, 59);
  }

  .box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 900px) {
    .sec8 {
      flex-wrap: wrap;
    }
    #map {
      min-width: 90%;
      margin: auto;
    }
    .contactt {
      min-width: 100%;
      margin: auto;
    }
    .rep {
      margin: 30px 25px;
    }
    video {
      margin: 10px;
      width: 28%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #logo {
      font-weight: bold;
      font-size: 1.4rem;
    }
    nav ul a li {
      margin: 5px;
    }
    .box {
      min-width: 300px;
      margin: 10px auto;
    }
    .image {
      flex-wrap: wrap;
    }
    .down svg {
      display: none;
    }
    .idea {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .box1 {
      flex-wrap: wrap;
    }
    .sec7 {
      width: 100%;
    }
    .imgshow,
    .imgsel {
      width: 90%;
    }
  }
  @media only screen and (max-width: 500px) {
 
    .idea {
      flex-direction: column;
      width: 50%;
      flex-wrap: wrap;
      margin: 0px;
      justify-content: center;
    }
    .contactt form {
      width: 80%;
      margin: 30px auto;
      
    }
  }